*{
	margin: 0;
	padding: 0;
}
html, body{
	cursor: none;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	color: white;
}
*[aria-hidden]{
	display: none !important;
}
#dialog{
	transition: 1s;
}

#scores{
	position: fixed;
	right: 0;
	font-size: 20px;
	color: white;
}
#scores > *{
	margin-left: 8px;
}
canvas{
	position: fixed;
	left: 0;
	top: 0;
}
#start-screen{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-flow: column;
	color: white;
}
#start-screen h1{
	font-weight: 500;
}
#start-screen td{
	color: var(--main-color);
	padding: 8px;
	margin: 0;
	border: 1px solid white;
}
#start-screen table{
	margin: 32px;
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	max-width: 400px;
	color: white;
}
.important{
	font-family: 'Courier New', Courier, monospace;
}
#dialog{
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 8px;
	border: 1px solid white;
	background-color: black;
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
}
.alert{
	position: absolute;
	bottom: 0;
	padding: 8px;
	width: 100%;
	box-sizing: border-box;
	background-color: #f00;
}
#instructions{
	margin: 16px;
}